.main-home {
  padding-bottom: 200px;
  margin-top: 110px;
}
.second-box-home {
  padding-top: 100px;
  position: absolute;
  width: 1440px;
  height: 1497px;
  left: 0px;
  top: 906px;
  background: #f3f1f0;
}
.first-box {
  display: flex;
  position: absolute;
  width: 1307px;
  height: 402px;
  left: 66px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.mini-top-food {
  position: absolute;
  width: 234px;
  height: 167px;
  margin-left: 30px;
  margin-top: 26px;
}
.paragraf-home {
  width: 74px;
  height: 21px;
  left: 351px;
  top: 993px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #8a8a8a;
}
