.remove-wrapper-main {
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.modal-myreservation {
  z-index: 1;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-myreservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.my-reservation-wrapper {
  height: 100vh;
  .modal-myreservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
    height: 300px;
    width: 300px;
  }
  .day-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column-gap: 20px;
  }
  .all-together-myreservation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
  }
  .myreservation-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
  .text-and-buttons-myreservation {
    text-align: center;
    .myreservation-text {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      color: #333333;
    }
    .my-reservation-main {
      z-index: 1;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
    .text-cancel-reservation {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 39px;
      color: #333333;
    }
  }
  .name-text-price-count-myreservation {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .name-restaurant-number-reservation {
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .name-restaurant {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #c10016;
  }
  .number-reservation {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }
  .name-reservation {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #333333;
  }
  .modal-remove {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    background-color: red;
  }
  .image-text-myreservation {
    display: flex;
    padding-left: 60px;
    flex-direction: column;

    .paragraf-myreservation {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;
      color: #333333;
    }
  }
  .hr-myreservation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
    background: rgba(193, 0, 22, 33);
    border-radius: 40px;
    height: 1px;
  }
  .month-day {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-gap: 10px;
    flex-direction: row;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #333333;
    grid-row-gap: 10px;
  }
  .count-myreservation {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: #333333;
  }
  .price-button {
    display: flex;
    width: 90%;
    height: 0%;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    grid-column-gap: 15px;
    .price-myreservation {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 42px;
      color: #c10016;
    }
    .button-myreservation {
      box-sizing: border-box;
      width: 340px;
      height: 53px;
      background: #c10016;
      border: 1px solid #c10016;
      border-radius: 20px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
