.about-us-header-wrapper {
  background: url('../../images/b-aboutus.png') no-repeat;
  padding-bottom: 50px;
}

.header-title {
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 98.8%;
  width: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #c10016;
}
