.wrapper-changeprofile {
  width: 100%;
  display: flex;
  flex-direction: column;
  .hr-input {
    margin-bottom: 20px;
    width: 600px;
  }
  .changeprofile-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    padding-left: 102px;
  }

  .image-change-profile {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .icon-changeprofile {
      width: 116.97px;
      height: 125px;
    }
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .inputs-changeprofile {
    display: flex;
    height: 559px;
    align-items: center;
    flex-direction: column;
    grid-row-gap: 10px;

    .icons {
      width: 22.01px;
      height: 22.01px;
    }
  }
  .lock-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(51, 51, 51, 0.8);
    grid-column-gap: 10px;
  }
  .pen-icon {
    margin-left: 300px;
  }
}
