.forget-password-modal {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  background: red;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 14px 28px;
  padding: 81px;
  background: rgba(231, 231, 231, 0.9);

  .checkemail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    text-align: center;
  }

  .error-message-forget-password {
    padding-left: 380px;
  }
  .paragraf-open-email {
    text-align: center;
  }

  .resetemail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.8);
    text-align: center;
    padding-bottom: 50px;
  }
}

.close-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.modal-for-openemail {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 1000px;
  align-items: center;
}

.form-for-forgetpassword {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  flex-direction: column;
}

.button-restart-password {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
