@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Londrina Solid';
  src: url('../../fonts/Londrina_Solid/LondrinaSolid-Black.ttf');
}
.navigation {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.header-text {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-size: 13px;
  font-weight: 800;
  line-height: 41px;
  color: #ffffff;
  span {
    color: red;
    font-weight: 900;
  }
}
@media screen and (max-width: 1440px) {
  .navigation {
    display: flex;
    width: 100%;
    margin-left: -300px;
    max-width: 1440px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
  .header-text {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-size: 13px;
    font-weight: 800;
    line-height: 41px;
    color: #ffffff;
    span {
      color: red;
      font-weight: 900;
    }
  }
}
