.restoran-top-food {
  background: url('../../images/background-restoran.png');
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 200px;
  .burger-logo {
    display: flex;
    width: 132px;
    height: 63.06px;
    left: 52px;
    margin-left: 70px;
    top: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .burger-meni {
    width: 30px;
    margin-top: 20px;
    height: 20px;
  }
  .nav-galery,
  .nav-impressions,
  .nav-restoran,
  .nav-meni {
    display: flex;
  }
  .meni-icon {
    width: 25px;
    height: 25px;
    margin-top: 30px;
    margin-left: 85px;
  }
  .paragraf-meni {
    margin-top: 35px;
    margin-left: 15px;
  }
  .input {
    display: flex;
    gap: 2.1rem;
    border: 1px solid #aaa;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 150px;
    background-color: #ffff;
  }
  .text-restoran {
    margin-left: 50px;
    margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }
  .text-and-location {
    display: flex;
    margin-top: 40px;
    width: 1116px;
    height: 1516px;
    margin-left: 100px;
    left: 58px;
    top: 1070px;
    background: #ffffff;
    box-shadow: 0px 0px 14.3778px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }
  .background-for-box {
    width: 1316px;
    height: 299px;
  }
  .box-together {
    width: 90%;
    margin-top: 50px;
    margin-left: 40px;
  }
  .location {
    margin-top: 35px;
    margin-left: 100px;
  }
  .restoran-paragraf {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    width: 200px;
    margin-left: 5px;
    margin-top: 10px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #c63a2f;
  }
  .restoran-hr {
    width: 1139px;
    height: 1px;
    left: 142px;
    top: 1771px;
    color: gray;
  }
  .image-map {
    width: 373px;
    height: 394px;
    margin-right: 30px;
    left: 858px;
    margin-top: 40px;
    top: 1263px;
    border-radius: 4.7971px;
  }
  .second-box {
    width: 1316px;
    padding-bottom: 50px;
    background-color: #ffff;
    border-radius: 0 0 30px 30px;
    margin-top: -20px;
    height: 299px;
  }
  .logo-for-restoran {
    margin-left: 120px;
    margin-top: -100px;
  }
  .span-green {
    color: #00872f;
  }
  .navigation-menu {
    margin-left: -20px;
    width: 1440px;
    height: 1569px;
    padding-bottom: 200px;
    background: #f3f1f0;
    margin-top: 20px;
    background: #f3f1f0;
    font-family: 'Poppins';
    padding-top: 40px;
  }
  .nav-meni {
    text-align: center;
    width: 329px;
    height: 90px;
    left: 387px;
    top: 933px;
    background: #ffffff;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #c4c4c4;
  }
  .nav-impressions {
    text-align: center;
    width: 329px;
    height: 90px;
    left: 716px;
    top: 933px;
    background: #ffffff;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #c4c4c4;
  }
  .nav-galery {
    text-align: center;
    width: 329px;
    height: 90px;
    left: 1045px;
    top: 933px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 0px 30px 0px 0px;
  }
  .nav-restoran {
    text-align: center;
    width: 329px;
    height: 90px;
    left: 58px;
    top: 933px;

    background: #ffffff;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #c4c4c4;
    border-radius: 30px 0px 0px 0px;
  }
  .nav {
    display: flex;
    width: 1116px;
    align-items: center;
    margin-left: 100px;
    left: 58px;
    top: 933px;
    background: #ffffff;
    box-shadow: 0px 0px 14.3778px rgba(0, 0, 0, 0.2);
    border-radius: 30px 30px 0px 0px;
  }
  .paragraf-restoran {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8a8a8a;
  }
  .second-paragraf {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8a8a8a;
  }
  .title-for-restoran {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    color: #333333;
  }
  .text-for-restoran {
    padding-top: 40px;
    margin-left: 119px;
  }
  input {
    all: unset;
  }
  .prefix {
    border-radius: 40px 0px 0px 40px;
  }
  .box {
    margin-top: 20px;
    width: 1316px;
    height: 299px;
    box-shadow: 0px 0px 14.3778px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }
  .prefix,
  .suffix {
    color: #ffff;
    margin-top: 10px;
    background-color: #c63a2f;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border-radius: 30px;
  }
  .phone-restoran,
  .location-restoran {
    display: flex;
    height: 25px;
  }
  .phone-restoran {
    width: 25px;
  }
  .same-place {
    width: 158px;
    height: 36px;
    margin-top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }
  .hr-for-restoran {
    position: absolute;
    width: 1009px;
    margin-top: -80px;
    height: 1px;
    left: 142px;
    top: 1771px;
    background: #d9d9d9;
  }
  .button-restoran {
    width: 194px;
    height: 67px;
    left: 1180px;
    top: 59px;
    background: #c63a2f;
    border-radius: 10px;
    font-family: 'Nunito';
    border: 1px solid #c63a2f;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
    margin-left: 210px;
    color: #ffffff;
  }
  .first-box-picture {
    display: flex;
    width: 267.69px;
    grid-column-gap: 20px;
    height: 185.4px;
    left: 1006.31px;
    top: 1894px;
    background: #ffffff;
    box-shadow: 0px 0px 2.97884px rgba(0, 0, 0, 0.2);
    border-radius: 5.95768px;
    margin-top: -600px;
    margin-left: 140px;
  }
  .list-rating {
    margin-left: 70px;
    color: #c63a2f;
  }
  .second-box-picture {
    display: flex;
    margin-left: 140px;
    grid-column-gap: 20px;
  }
  .title-rating {
    display: flex;
  }
  .main-list-picture {
    grid-column-gap: 20px;
  }
  .div-for-list-restoran {
    display: flex;
  }
  .main-div {
    display: flex;
    width: 240px;
    background: #ffffff;
    box-shadow: 0px 0px 2.97884px rgba(0, 0, 0, 0.2);
    border-radius: 5.95768px;
    padding: 7px 7px 7px 7px;
  }

  .rating-restoran {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17.4759px;
    line-height: 24px;
    text-align: right;
    color: #c63a2f;
  }
  .rating-div {
    display: flex;
    margin-top: -20px;
    margin-left: 100px;
  }
  .list-paragraf-restoran {
    width: 78px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11.9154px;
    line-height: 18px;
    color: #333333;
  }
  .div-for-title-rating {
    margin-top: -15px;
    display: flex;
  }
  .list-restoran-div {
    margin-top: -600px;
    display: grid;
    margin-left: 125px;
    grid-row-gap: 20px;
    grid-template-columns: 270px 270px 270px 270px;
  }
  .list-title-restoran {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 7.74499px;
    line-height: 12px;
    color: #8a8a8a;
  }
  .rating-star-restoran {
    margin-top: 22px;
    margin-left: 5px;
    color: #c63a2f;
  }
  .title-list {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 7.74499px;
    line-height: 12px;
    color: #8a8a8a;
  }
  .list-pictures {
    display: flex;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .div-for-footer-restoran {
    margin-left: -20px;
  }
}
