.main-nav-with-meni {
  margin-top: -150px;
  background: #f3f1f0;
  padding-bottom: 100px;
  .shopping-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }
}
.meni-image {
  width: 121.11px;
  height: 127.31px;
}
.dl {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 275;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}
.price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #c63a2f;
}
.meni-button {
  margin-left: 110px;
  background: #c63a2f;
  border: 1.19648px solid #d9d9d9;
  border-radius: 5.98242px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.meni {
  margin-left: 115px;
  width: 800px;
  height: 3500px;
  padding-bottom: 50px;
  margin-top: -150px;
  background: #ffffff;
  box-shadow: 0px 0px 14.3778px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.calculator {
  position: absolute;
  width: 300px;
  height: 335px;
  left: 950px;
  top: 980px;
  background: #ffffff;
  box-shadow: 0px 0px 14.3778px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.nav-meni-meni {
  position: absolute;
  width: 258px;
  height: 36px;
  left: 158px;
  top: 1022px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
}
.div-for-complet-meni {
  display: flex;
}
.price-button {
  display: flex;
}
.shopping-cart {
  // position: absolute;
  width: 898px;
  margin-top: -280px;
  margin-left: 250px;
  height: 500px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: #333333;
}
.shopping-hr,
.salate-hr,
.dezert-hr {
  width: 369px;
  height: 1px;
  left: 381px;
  top: 1175px;
  background: #d9d9d9;
}

.main-hrr {
  left: 181px;
  top: 1175px;
  width: 369px;
  height: 1px;
  background: #333333;
}
.calculator-paragraf {
  width: 117px;
  height: 36px;
  left: 1108px;
  margin-left: 20px;
  top: 1115px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}
.calculator-hr {
  width: 271px;
  height: 1px;
  margin-left: 10px;
  top: 1175px;
  background: #d9d9d9;
}
