.burger-menu {
  position: relative;
  margin-top: 20px;
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger-line {
  width: 100%;
  height: 2px;
  background: #ffff;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.burger-line.opet {
  background-color: #ffff;
  transition: all 0.3s ease;
}
.burger-button.open {
  transform: rotate(45deg);
}

.burger-button.open .burger-line:nth-child(1) {
  transform: rotate(90deg) translate(5px, 5px);
}

.burger-button.open .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-button.open .burger-line:nth-child(3) {
  transform: rotate(-90deg) translate(5px, -5px);
}

.menu {
  position: absolute;
  top: 100%;
  width: 300px;
  background: rgba(47, 3, 3, 0.94);
  height: 0;
  left: -100px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.menu.open {
  left: -165px;
  z-index: 20;
  width: 524px;
  top: -35px;
  height: 1738px;
  background: rgba(47, 3, 3, 0.94);
}

.menu a {
  display: block;
  width: 100%;
  max-width: 381px;
  height: 52px;
  padding-top: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  float: right;
  color: #ffffff;
  text-decoration: none;
}
