.burger-menu {
  position: relative;
  margin-top: 20px;
}
.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.burger-line {
  width: 100%;
  height: 2px;
  background: #ffff;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.burger-button.open {
  margin-left: -100px;
}
.menu {
  position: absolute;
  top: 100%;
  width: 300px;
  background: rgba(47, 3, 3, 0.94);
  height: 0;
  left: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.menu.open {
  left: -165px;
  width: 524px;
  top: -35px;
  z-index: -1;
  height: 1738px;
}

.menu a {
  display: block;
  width: 100%;
  max-width: 381px;
  height: 52px;
  padding-top: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  float: right;
  color: #ffffff;
  text-decoration: none;
}
