.container {
  position: relative;
}

.container h1 {
  margin-bottom: 2rem;
}
.menu-items {
  position: absolute;
  padding: 5rem;
  margin-top: -6rem;
  margin-left: -1rem;
  top: 3rem;
  list-style: none;
  opacity: 0;
  background: rgba(47, 3, 3, 0.94);
  width: 524px;
  height: 1738px;
  left: -200px;
}

.menu-items li {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  padding: 20px;
  font-size: 38px;
  line-height: 52px;
  color: #ffffff;
}

.menu-items li a {
  color: white;
  text-decoration: none;
}

.check {
  position: absolute;
  top: 8rem;
  left: 8rem;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  z-index: 3;
}
.ham-menu,
.check {
  margin-top: -100px;
  margin-left: -300px;
}
.check:checked ~ .menu-items {
  display: block;
  transform: translateX(0%);
  opacity: 1;
}

.ham-menu {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 8rem;
  left: 8rem;
  padding: 0.5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0.25em;
}

.ham-menu .line {
  background-color: white;
  border-radius: 1em;
  width: 2rem;
  height: 0.25rem;
}

.ham-menu .line1 {
  transform-origin: 0% 0%;
  transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
  transform-origin: 0% 100%;
  transition: transform 100ms ease-in-out;
}

.check:checked ~ .ham-menu .line1 {
  display: block;
  transform: rotate(45deg);
}

.check:checked ~ .ham-menu .line2 {
  opacity: 0;
}

.check:checked ~ .ham-menu .line3 {
  display: block;
  transform: rotate(-45deg);
}
