.modalchangepassword {
  .hr-input {
    width: 698px;
  }
  .title-login {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
  }
  .close-change-password {
    cursor: pointer;
  }
  .button-for-modalchangepassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #c10016;
    border: 1px solid #c10016;
    border-radius: 30px;
    height: 54.28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    cursor: pointer;
  }
  .icon-close-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }
}
