.main-galery {
  background: url('../../../images/background-restoran.png');
  width: 100%;
  grid-column-gap: 20px;
}
.main-main-slide {
  display: flex;
  width: 100%;
  justify-content: center;
}
.nav-and-galery {
  width: 100%;
  height: 551px;
  background: #f3f1f0;
  margin-top: -160px;
}
.slider {
  margin-left: 20px;
}
.navigation-menu-for-restoran {
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-slider {
  width: 1121px;
  height: 307px;
  margin-top: 15px;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 14.3778px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.slide {
  width: 268px;
  height: 185px;
  margin-top: 40px;
  grid-column-gap: 10px;
}
@media screen and (max-width: 1440px) {
  .main-slider {
    margin-left: 150px;
  }
}
