.main-galery {
  background: url('../../../images/background-restoran.png');
  width: 100%;
  height: 100%;
  grid-column-gap: 20px;
}
.main-main-slide {
  display: flex;
  width: 100%;
  justify-content: center;
}
.nav-and-galery {
  width: 100%;
  height: 551px;
  background: #f3f1f0;
  margin-top: -160px;
}
.slider {
  margin-top: 55px;
  margin-left: 60px;
}
.navigation-menu-for-restoran {
  display: flex;
  width: 100%;
  justify-content: center;
}
.image-for-slide {
  width: 594px;
  height: 312px;
  border-radius: 10px;
}
.image-for-slide2 {
  width: 594px;
  padding-left: 50px;
  height: 312px;
  border-radius: 10px;
}

.arrow-for-sliders {
  width: 20px;
  height: 20px;
}
.main-slider {
  width: 1121px;
  height: 307px;
  margin-top: 15px;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 14.3778px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.slide {
  padding: 15px;
  width: 208px;
  height: 145px;
  border-radius: 5px;
}
@media screen and (max-width: 1440px) {
  .main-slider {
    margin-left: 150px;
  }
}
.p-image {
  width: 594px;
  height: 312px;
  left: 683px;
  top: 1085px;
  border-radius: 10px;
}
.product-carousel {
  position: relative;
  overflow: hidden;
  padding: 26px;
}
.product-container {
  grid-column-gap: 40px;
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.pre-btn,
.next-btn {
  border: none;
  width: 60px;
  padding-top: 150px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-btn {
  right: 0;
}
