@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  background: #171717;
  justify-content: space-between;

  .footer-links {
    display: flex;
    .links {
      text-decoration: none;
      width: 101px;
      height: 38px;
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 38px;
      color: #ffffff;
    }
    .links.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      align-items: center;
      padding: 10px;
      width: 154px;
      height: 58px;
      border-radius: 20px;
    }
  }
  .footer-logo {
    display: flex;
    width: 154.08px;
    height: 100%;
    align-items: center;
  }
}
.icon-location,
.icon-planet,
.icon-copyright {
  margin-right: 3px;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 13px;
}

.footer-privacy {
  display: flex;
  flex-direction: column;
  .langue-footer {
    display: flex;
    grid-column-gap: 51px;
    padding-left: 38px;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
  }
}
.terms-of-use-footer {
  display: flex;
  padding-right: 38px;
  grid-column-gap: 51px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}
.text-and-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  grid-column-gap: 30px;
}
.text-and-icon-second {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.div-for-copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.other-termsofuse {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  grid-column-gap: 25px;
}
