.footer-main {
  display: flex;
  background-color: #333333;
  width: 100%;

  .line {
    margin-left: -600px;
    top: 2631px;
    background: #d9d9d9;
  }
  .icons-box {
    width: 100%;
    max-width: 30px;
    height: 30px;
    padding-top: 10px;
    color: white;
  }
  .paragraf {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #ffffff;
  }
  .iconss {
    flex-wrap: 20px;
    background-color: white;
    margin-left: 1.1em;
    width: 30px;
    padding: 5px 5px 5px 5px;
    font-size: 30px;
    justify-items: right;
  }
  .text-for-footer {
    display: flex;
    grid-column-gap: 20px;
  }
  .paragrafApp {
    margin-left: 35px;
    margin-top: -40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.4155px;
    line-height: 20px;
    color: #ffffff;
  }

  .paragrafGoogle {
    margin-left: 35px;
    margin-top: -40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.4155px;
    line-height: 20px;
    color: #ffffff;
  }
  .span-app,
  .span-google {
    margin-top: -30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }
  .location {
    display: flex;
    margin-top: 50px;
    grid-column-gap: 750px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    margin-left: -600px;
  }
  .left-text {
    display: flex;
    grid-column-gap: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }
  .logo-footer {
    width: 103px;
    height: 94.56px;
    margin-left: 250px;
    margin-top: 30px;
  }
  .paragraf-copyright {
    max-width: 146px;
    margin-left: 530px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  .box-for-appstore {
    margin-top: 45px;
    margin-left: 200px;
    box-sizing: border-box;
    padding-bottom: 40px;
    position: absolute;
    width: 100%;
    width: 174.79px;
    left: 217px;
    background: rgba(198, 58, 47, 0.5);
    border: 1.80193px solid #c63a2f;
    border-radius: 9.00966px;
  }
  .box-for-googleplay {
    margin-top: 45px;
    margin-left: 400px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    max-width: 174.79px;
    left: 217px;
    background: rgba(198, 58, 47, 0.5);
    border: 1.80193px solid #c63a2f;
    border-radius: 9.00966px;
  }
  .links {
    margin-left: 500px;
    width: 300px;
  }
  .list-icons {
    margin-left: 500px;
    margin-top: 50px;
    white-space: 200px;
  }
}
.footer-homepage {
  position: absolute;
  width: 100%;
  max-width: 89.2%;
  margin-top: 100px;
  background: #333333;
  padding-left: 200px;
}
.logo-homepage {
  width: 100%;
  max-width: 168px;
  height: 154.23px;
  margin-left: 67px;
  margin-top: 116px;
}
.logo-googleplay-app {
  display: flex;
}
.googleplay-app {
  margin-left: 909px;
  margin-top: 116px;
}
.hr-footer {
  width: 100%;
  max-width: 1307px;
  height: 1px;
  margin-left: 67px;
  margin-top: 27px;
  top: 2713px;
  background: #d9d9d9;
}
.faq {
  margin-left: 67px;
  margin-top: 80px;
  width: 208px;
  left: 67px;
  top: 2765px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ffffff;
}
.span-home {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 17px;
  margin-left: 50px;
  color: #ffffff;
  margin-top: 300px;
}
.google-image {
  width: 30px;
  margin-top: 10px;
  margin-left: 20px;
}
.bsapp {
  font-size: 30px;
  margin-left: -25px;
  margin-top: 20px;
}
.paragraf-for-home-app {
  margin-top: -20px;
  margin-left: 45px;
}
.paragraf-for-home-google {
  margin-left: 50px;
  margin-top: -35px;
}
.paragraf-app {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14.4155px;
  line-height: 20px;
  margin-top: -40px;
  margin-left: 40px;
  color: #ffffff;
}

.icon-apple {
  margin-top: 10px;
  font-size: 30px;
  color: #ffff;
}
.home-app {
  box-sizing: border-box;
  width: 100%;
  max-width: 194px;
  background: rgba(198, 58, 47, 0.5);
  border: 2px solid #c63a2f;
  border-radius: 10px;
  left: 1233px;
  top: 2528px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.google-icon-home {
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.icon-home {
  left: 15.92%;
  right: 15.82%;
  margin-left: 10px;
  margin-top: 20px;
  top: 9.38%;
  bottom: 9.37%;
  color: #ffffff;
}
.home-google {
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
  max-width: 194px;
  background: rgba(198, 58, 47, 0.5);
  border: 2px solid #c63a2f;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.div-instagram {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
}
.div-facebook {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
}
.div-tiktok {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
}
.p-footer {
  width: 100%;
  max-width: 208px;
  left: 1216px;
  top: 2790px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 1116px;
}
/////////////////////////////////
@media screen and (max-width: 1440px) {
  .footer-homepage {
    width: 1240px;
    position: absolute;
    left: 0px;
    margin-top: 200px;
    background: #333333;
  }
  .main-footer-div-for-homepage {
    margin-left: -200px;
  }
  .logo-homepage {
    width: 168px;
    height: 154.23px;
    margin-left: 67px;
    margin-top: 116px;
  }
  .logo-googleplay-app {
    display: flex;
  }
  .googleplay-app {
    margin-left: 909px;
    margin-top: 116px;
  }
  .hr-footer {
    width: 1307px;
    height: 1px;
    margin-left: 67px;
    margin-top: 27px;
    top: 2713px;
    background: #d9d9d9;
  }
  .faq {
    margin-left: 67px;
    margin-top: 80px;
    width: 100%;
    max-width: 208px;
    left: 67px;
    top: 2765px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #ffffff;
  }
  .span-home {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 17px;
    margin-left: 50px;
    color: #ffffff;
    margin-top: 300px;
  }
  .google-image {
    width: 30px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .bsapp {
    font-size: 30px;
    margin-left: -25px;
    margin-top: 20px;
  }
  .paragraf-for-home-app {
    margin-top: -20px;
    margin-left: 45px;
  }
  .paragraf-for-home-google {
    margin-left: 50px;
    margin-top: -35px;
  }
  .paragraf-app {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.4155px;
    line-height: 20px;
    margin-top: -40px;
    margin-left: 40px;
    color: #ffffff;
  }

  .icon-apple {
    margin-top: 10px;
    font-size: 30px;
    color: #ffff;
  }
  .home-app {
    box-sizing: border-box;
    width: 100%;
    max-width: 194px;
    background: rgba(198, 58, 47, 0.5);
    border: 2px solid #c63a2f;
    border-radius: 10px;
    left: 1233px;
    top: 2528px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
  .google-icon-home {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
  }
  .icon-home {
    left: 15.92%;
    right: 15.82%;
    margin-left: 10px;
    margin-top: 20px;
    top: 9.38%;
    bottom: 9.37%;
    color: #ffffff;
  }
  .home-google {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    max-width: 194px;
    background: rgba(198, 58, 47, 0.5);
    border: 2px solid #c63a2f;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
  .footer-main {
    margin-left: -200px;
    width: 113.8%;
  }
  .links-homepage {
    display: flex;
    margin-left: 1116px;
    margin-top: -50px;
    width: 100px;
    grid-column-gap: 30px;
    color: black;
    font-size: 30px;
  }
  .div-instagram {
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
  }
  .div-facebook {
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
  }
  .div-tiktok {
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
  }
  .p-footer {
    width: 208px;
    height: 24px;
    left: 1216px;
    top: 2790px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-left: 1116px;
  }
}
@media screen and (max-width: 375px) {
  .footer-main {
    width: 1640px;
  }
  .footer-homepage {
    width: 1640px;
  }
}
