.footer-main {
  display: flex;
  background-color: #333333;
  height: 252px;
  .line {
    margin-left: -600px;
    height: 1px;
    top: 2631px;
    background: #d9d9d9;
  }
  .icons-box {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    color: white;
  }
  .paragraf {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #ffffff;
  }
  .iconss {
    flex-wrap: 20px;
    background-color: white;
    padding: 5px;
    margin-left: 2em;
    width: 30px;
    height: 30px;
    justify-items: right;
  }
  .text-for-footer {
    display: flex;
    grid-column-gap: 20px;
  }
  .paragrafApp {
    margin-left: 35px;
    margin-top: -40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.4155px;
    line-height: 20px;
    color: #ffffff;
  }

  .paragrafGoogle {
    margin-left: 35px;
    margin-top: -40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14.4155px;
    line-height: 20px;
    color: #ffffff;
  }
  .span-app,
  .span-google {
    margin-top: -30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }
  .location {
    display: flex;
    margin-top: 50px;
    grid-column-gap: 750px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    margin-left: -600px;
  }
  .left-text {
    display: flex;
    grid-column-gap: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }
  .logo-footer {
    width: 103px;
    height: 94.56px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .box-for-appstore {
    margin-top: 45px;
    margin-left: 50px;
    box-sizing: border-box;
    position: absolute;
    width: 174.79px;
    height: 60.36px;
    left: 217px;
    background: rgba(198, 58, 47, 0.5);
    border: 1.80193px solid #c63a2f;
    border-radius: 9.00966px;
  }
  .box-for-googleplay {
    margin-top: 45px;
    margin-left: 240px;
    box-sizing: border-box;
    position: absolute;
    width: 174.79px;
    height: 60.36px;
    left: 217px;
    background: rgba(198, 58, 47, 0.5);
    border: 1.80193px solid #c63a2f;
    border-radius: 9.00966px;
  }
  .links {
    margin-left: 500px;
  }
  .list-icons {
    margin-left: 500px;
    margin-top: 50px;
    white-space: 200px;
  }
}
