.div-for-forms {
  display: flex;
  width: 100%;
  height: 100%;
  .div-for-together-text {
    display: flex;
    flex-direction: column;
  }

  .div-for-today-meny {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .text-for-big-title {
    width: 600px;
    height: 83px;
    font-family: 'Londrina Solid', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 83px;
    text-transform: uppercase;
    color: #c10016;
    padding-left: 67px;
  }

  .lorem-text {
    width: 525px;
    height: 104px;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 52px;
    color: #ffffff;
    padding-left: 67px;
  }
  .buttons-for-home-page {
    display: flex;
    flex-direction: row;
    grid-column-gap: 29px;
    padding-left: 48px;
    cursor: pointer;
  }
  .text-for-buttons {
    width: 145px;
    height: 30px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    box-sizing: border-box;
    width: 194px;
    height: 67px;
    background-color: transparent;
    border: 4px solid #c10016;
    border-radius: 40px;
    cursor: pointer;
  }
  .text-menu {
    display: flex;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #ffffff;
    grid-column-gap: 10px;
    cursor: pointer;
  }
}
