.about-wrapper {
  display: flex;
  width: 100%;

  @media screen and (max-width: 390px) {
    width: 100%;
    max-width: 390px;
  }
  flex-direction: column;
  .div-for-days {
    height: 30%;
    padding-bottom: 30px;

    @media screen and (max-width: 390px) {
      width: 100%;
      max-width: 690px;
    }
  }
}

.div-for-header {
  background: url('../../images/b-aboutus.png');
  background-size: cover;

  @media screen and (max-width: 390px) {
    width: 690px;
  }
}
.title-for-about {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 98.8%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #c10016;
}
.menu-faq {
  padding-top: 50px;
}
.text-lorem {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
  color: #c10016;
}
.wrapper-privacy {
  .div-for-header {
    background: url('../../images/b-aboutus.png') no-repeat;
    background-size: cover;
  }
}
.wrapper-termsofuse {
  .div-for-header {
    background: url('../../images/b-aboutus.png') no-repeat;
    background-size: cover;
  }
  .day-menu {
    padding-top: 30px;
  }
}
.paragraf-loremipsum {
  height: 216px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
}
.image-for-aboutus {
  width: 569px;
  height: 377px;
  padding-left: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.image-and-text-together {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 500px;
  align-items: center;
}
.text-aboutus {
  padding-right: 117px;
}
.title-privacy {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #c10016;
}
.paragraf-privacy {
  font-family: 'Poppins';
  font-style: normal;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
}
.image-aboutus {
  display: flex;
}

.div-for-privacy-text {
  max-width: 900px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.text-about-us {
  padding-left: 20px;
}
.title-aboutus {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #c10016;
}
.container-for-title-privacy {
  max-width: 500px;
}
.container-paragraf-aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.paragraf-aboutus {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  padding-right: 117px;
  color: #333333;
}
.image-about-us {
  padding-left: 75px;
}
.main-div-about-us {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.text-and-image {
  display: flex;
  flex-direction: row;
}
.privacy-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 50px;
}
.paragraf-for-termsofuse {
  max-width: 900px;
  max-height: 500px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.div-for-termsofuse-paragraf {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 50px;
}
.div-for-faq {
  padding-top: 100px;
}
