.home-page-header {
  background-image: url('../../images/background-image-for-home-page.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: '100%';

  .main-div-homepage {
    background-color: #ffff;
  }
  .menu-for-text {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    height: 35px;
  }
}
