.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #333333;

    p {
      text-align: center;
    }
  }

  .text {
    display: none;
    font-family: 'Poppins';
    width: 350px;
    float: left;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }

  .show {
    display: block;
  }
}
