.accordion-wrapper {
  .accordion {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .inc-dec {
    display: none;
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    color: #333333;

    p {
      text-align: center;
    }
  }
  .icon-arrow {
    display: flex;
    margin-left: 5px;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
  }
  .text {
    display: none;
    font-family: 'Poppins';
    width: 350px;
    text-align: left;
    font-style: normal;
    flex-direction: column;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }
  .text.show {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: 'Nunito';
  }

  .show {
    display: block;
  }
}
.accordion-about-us {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.accordion-item {
  justify-content: center;
  width: 900px;
  color: black;
}
.accordion-title-aboutus {
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #c10016;
  justify-content: space-between;
  padding: 10px;
}
.accordion-icon-aboutus {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.content-aboutus {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  margin-left: 10px;
  text-align: left;
  color: #333333;
}
.accordion-header {
  position: absolute;
}
.inc-dec-header {
  display: none;
}
.title-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 48px;
  text-align: center;
  color: #333333;

  p {
    text-align: center;
  }
}
.icon-arrow-header {
  display: flex;
  margin-left: 5px;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
}
.text-header {
  display: none;
  font-family: 'Poppins';
  width: 350px;
  text-align: left;
  font-style: normal;
  flex-direction: column;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}
.text.show-header {
  width: 100%;
  margin-top: 200px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-family: 'Nunito';
}

.show-header {
  display: block;
}
.wrapper-listhomepage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 100px;
  width: 100%;
}
