.header-reservation {
  background-color: #c50016;
  .active {
    border: 1px solid #ffff;
    width: 250px;
    flex-direction: row;
  }
}

.image-list-reservation {
  width: 395px;
  height: 362px;
}
.arrow-for-menu {
  cursor: pointer;
  flex-direction: column;
}

.together-list-image-reservation {
  width: 370px;

  @media screen and (max-width: 375px) {
    display: flex;
    flex-direction: column;
    width: 145px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
}
.main-for-list-reservation {
  width: 100%;
  display: flex;
  grid-column-gap: 30px;
  padding-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.accordion {
  max-width: 269px;
  .inc-dec {
    display: flex;
    width: 100%;
    max-width: 229px;
    flex-direction: row;
    grid-column-gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
  }
  .title {
    font-size: 22px;
    height: 90px;

    @media screen and (max-width: 375px) {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
    }
  }
  .text.show {
    width: 250px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    padding-top: 10px;
    color: #333333;

    @media screen and (max-width: 375px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10px;
      text-align: center;
      width: 130px;
    }
  }
}
.reservation-inc-dec {
  border: 1px solid rgba(193, 0, 22, 33);
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
.title-reservation {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  color: #c10016;

  @media screen and (max-width: 375px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
  }
}

.reservation-main {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media screen and (max-width: 375px) {
    display: flex;
    flex-direction: column;
  }

  .day-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column-gap: 10px;
    padding-bottom: 40px;

    @media screen and (max-width: 375px) {
      grid-column-gap: 0px;
      width: 100%;
      padding: 0px;
    }
  }
}
.paragraf-reservation {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;

  @media screen and (max-width: 375px) {
    font-size: 10px;
  }
  .reservation-hr {
    width: 150px;
  }
  .cart-name-food {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
}
.day-reservation {
  text-align: center;
}
.div-for-menu-price-reservation {
  display: flex;
  width: 65%;
  text-align: center;
  grid-column-gap: 10px;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #333333;

  @media screen and (max-width: 375px) {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.price-reservation {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #c10016;
}
.image-reservation {
  width: 100%;
  max-width: 103px;
  max-height: 94px;
  border-radius: 30px;
  padding-left: 25px;
}
.hr-for-reservation {
  width: 343px;
  height: 1px;
  background: rgba(193, 0, 22, 0.2);
  border-radius: 40px;
}
.name-inc-dec {
  width: 200px;
}
.button-reservation {
  max-width: 229px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.menu-for-text-reservation {
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  height: 35px;
}
.image-list-reservation {
  max-width: 229px;
  max-height: 209.87px;
  border-radius: 40px;

  @media screen and (max-width: 375px) {
    width: 143px;
    height: 132px;
  }
}
.button-active {
  background-color: #c10016;
  color: #ffffff;
  width: 150px;
  grid-column-gap: 20px;
  height: 67px;
  border: 1px solid #44454733;
  border-radius: 20px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;

  @media screen and (max-width: 375px) {
    width: 60px;
    height: 60px;
    background: #c10016;
    border-radius: 46px;
  }
}
.confirm-reservation {
  display: flex;
  width: 100%;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-active {
  background-color: #c10016;
  color: #ffffff;
  width: 200px;
  height: 67px;
  border: 1px solid #44454733;
  border-radius: 20px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  @media screen and (max-width: 375px) {
    width: 50px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    height: 50px;

    background: #c10016;
    border-radius: 46px;
  }
}
.name-and-count {
  padding-right: 20px;
}
.modal-reservation {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  height: 0px;
}
.cart {
  width: 100%;
  max-width: 413px;
  max-height: 647px;
  flex-direction: column;
  background-color: red;
  overflow-y: scroll;
  background: rgba(217, 217, 217, 0.22);
  border-radius: 40px;

  .total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sum-price {
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }
  .div-for-hr-cart {
    display: flex;
    width: 320px;

    .hr-cart {
      width: 320px;
      background: rgba(193, 0, 22, 33);
      border: 1px solid rgba(193, 0, 22, 33);
      border-radius: 40px;
    }
  }

  .title-cart {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }

  .name-food {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
  .main-reservation-cart {
    display: flex;
    flex-direction: row;
    grid-column-gap: 20px;
  }
  .count-reservation {
    display: flex;
    flex-direction: row;
    height: 20%;
    align-items: center;
    grid-column-gap: 10px;
  }

  .hr-reservation {
    height: 1px;
    width: 230px;
    background: rgba(193, 0, 22, 33);
    border-radius: 40px;
  }

  .price-reservation {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }
  .delete-icon-price {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: flex-end;
  }

  .icon-remove-reservation {
    cursor: pointer;
    max-width: 28px;
    max-height: 22px;
  }
}
