.App {
  background: url('../../images/background-header.png') no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1300px;
}
.forms-text {
  margin-top: 100px;
}
.span-heart {
  background: #c63a2f;
  border-radius: 40px 0px 0px 40px;
  width: 100%;
  color: white;
}
.icon-arrow {
  width: 40px;
  height: 40px;
  left: 560px;
  top: 597px;
  background: #c63a2f;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 30px;
  color: #ffff;
}

.forms-input {
  width: 100%;
  max-width: 527px;
  left: 90px;
  top: 590px;
  background: #ffffff;
  border-radius: 40px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.forms-main {
  width: 100%;
  max-width: 400px;
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #c63a2f;

  .form-title {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    width: 500px;
    font-size: 70px;
    line-height: 83px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #c63a2f;
  }
  .icon-for-input {
    position: absolute;
    width: 50px;
    height: 55px;
    background: #c63a2f;
    border-radius: 40px 0px 0px 40px;
  }
  .form-text {
    width: 477px;
    left: 90px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 33px;
    color: #ffffff;
  }
  .div-for-input {
    background-color: #ffff;
    border-radius: 40px;
    border: 1px solid #ddd;
    width: max-content;
    input {
      all: unset;
      border-radius: 40px;
      width: 427px;
      text-align: center;
      background-color: #ffff;
      height: 27px;
      left: 162px;
      top: 609px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      color: rgba(30, 30, 30, 0.5);
    }
  }
}
@media screen and (max-width: 1440px) {
  .forms-main {
    margin-left: 60px;

    .icon-for-input {
      margin-left: -37.5px;
    }
  }
}
